<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sa discute 📢</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/discussion/style.css">
</head>
<body>
    <a href="/public/accueil/accueil.html" class="back-button">
        <img src="/public/css/imgfiles/retour.png" alt="Bouton de retour">
    </a>
    <div class="container my-4">
        <div class="row mb-4">
            <div class="col-12 text-center">
                <img src="../display/images/OPLOGO.png" alt="Logo" class="logo">
                <h1 class="page-title">sa discute 📢</h1>
            </div>
        </div>
        <div class="discussion-section">
            
            <div id="allComments" class="comments">
         
            </div>
            <form id="commentForm">
                <div class="form-group">
                    <label for="comment">poste ton Commentaire !</label>
                    <textarea class="form-control" id="comment" rows="3" required></textarea>
                </div>
                <button class="super-button" type="submit">Cliquez-moi</button>

            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function() {
        function loadComments() {
            $.get('/comments', function(comments) {
                const commentsContainer = $('#allComments');
                commentsContainer.empty();
                comments.forEach(comment => {
                    commentsContainer.append(`
                        <div class="comment">
                            <div class="username">${comment.author}</div>
                            <div class="timestamp">${new Date(comment.created_at).toLocaleString()}</div>
                            <div class="content">${comment.comment}</div>
                        </div>
                    `);
                });
            });
        }

        $('#commentForm').submit(function(event) {
            event.preventDefault();
            const commentText = $('#comment').val();
            const author = 'Anonymous'; // You can change this to get the actual username

            $.post('/comments', { video_id: 0, author, comment: commentText }, function() {
                $('#comment').val('');
                loadComments();
            });
        });

        loadComments();
    });
    </script>
</body>
</html>
