<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue de vidéos 📹</title>
    <link rel="stylesheet" href="/display/styles.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <a href="/accueil" class="back-button">
        <img src="/public/css/imgfiles/retour.png" alt="Bouton de retour">
      </a>
    <div class="container my-4">
        <div class="row align-items-center mb-4">
            <div class="col-12 text-left">
            </div>
            <div class="col-12 text-center">
                <img src="../display/images/OPLOGO.png" alt="Logo" class="logo">
            </div>
            <div class="col-12 text-center">
                <h1 class="page-title">CATALOGUE</h1>
            </div>
        </div>
        <div class="row">
            <% videos.forEach((video) => { %>
                <div class="col-md-4 mb-4">
                    <div class="card video-card">
                        <video class="card-img-top" controls>
                            <source src="<%= video.file_path %>" type="video/mp4">
                            Votre navigateur ne supporte pas la balise vidéo.
                        </video>
                        <div class="card-body">
                            <h5 class="card-title"><%= video.title %></h5>
                            <p class="card-text"><%= video.description %></p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
