body {
    font-family: Arial, sans-serif;
    background: -webkit-linear-gradient(-45deg, #3764ce 0%, #dfedf6 62%, #c53737 100%);
    background-size: cover;
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    border-radius: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #dee6f7b4;
    box-shadow: 0 0 10px rgba(253, 251, 251, 0.79);
}

.back-link {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000;
}

.logo-container {
    margin: 20px 0;
}

.logo {
    max-width: 150px;
    height: auto;
    border-radius: 10%;
    border: 2px solid #fff;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
}

.page-title {
  
        background: linear-gradient(to right, #f70509, #2004f4);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    
}

.video-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.svg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px; 
    height: 30px; 
    color: #fff;
  }
  
  .svg-container svg {
    width: 100%;
    height: 100%;
    color: #fff;
  }


  .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    height: auto;
  }
  
  .back-button img {
      width: 30px;
      height: auto;
  }

.video-card:hover {
    transform: scale(1.05);
}

.card-img-top {
    width: 100%;
    border-bottom: 2px solid #333;
}

.card-title {
    font-size: 1.5em;
    color: #62a5ed;
}

.card-text {
    font-size: 1em;
    color: #555;
}

@media (max-width: 768px) {
    .logo {
        max-width: 100px;
    }
    .page-title {
        font-size: 2em;
    }
    .card-title {
        font-size: 1.2em;
    }
    .card-text {
        font-size: 0.9em;
    }
}
